@use "src/variables";

.label {
  margin-right: 1rem;
  font-weight: 700;
  display: inline-block;

  @media (max-width: variables.$mobile-breakpoint) {
    margin-bottom: 0.5rem;
    display: block;
  }
}

.input {
  display: inline-block;
  padding: 0.3rem;
  font-size: 1rem;

  @media (max-width: variables.$mobile-breakpoint) {
    display: block;
    width: 15rem;
    margin: 0 auto;
  }
}

.error {
  border-color: red;
}
