@use 'src/variables';

.container {
  margin: 1rem;
}

.button {
  margin-left: 1rem;

  @media (max-width: variables.$mobile-breakpoint) {
    margin-top: 0.5rem;
    margin-left: 0;
    width: 15rem;
  }
}
