@use 'src/variables';

.container {
  margin: 1rem auto;
  width: 24rem;

  @media (max-width: variables.$mobile-breakpoint) {
    width: 17rem;
  }
}

.legend {
  margin: 0 auto;
  float: left;
  font-weight: 700;

  @media (max-width: variables.$mobile-breakpoint) {
    float: none;
    margin-bottom: 0.5rem;
  }
}
